@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Authentification</PageTitle>

<h1>Vous êtes connecté</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
